.checkout {
    display: flex;
    padding: 5% 14% 5% 10%;

}

.checkout input {
    display: block;
    background: transparent;
}

/* shipping info */

.shipping-info {
    display: flex;
    background-color: #F9F9F9;
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 0.6;
    padding: 20px;
    height: 600px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-container input {
    width: 47%;
}


.shipping-info button {
    height: 50px;
    font-weight: bold;
}

/* order summary */
.order-summary {
    flex-grow: 0.3;
    margin-left: 5%;
    height: 300px;
}

.order-summary aside {
    background-color: #F9F9F9;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 20px;
    padding-right: 15px;
}

.bottom-container>div {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}

.order-summary-total-container>* {
    font-weight: bold;
    font-size: 18px;
}