.checkout {
    display: flex;
    padding: 5% 14% 5% 10%;

}

.checkout input {
    display: block;
    /* width: 100%; */
    background: transparent;
}

.shipping-info {
    display: flex;
    background-color: #F9F9F9;
    flex-direction: column;
    flex-grow: 0.6;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* height: 600px; */
}

.shipping-info input {
    margin-top: 20px;
}

.order-summary {
    flex-grow: 0.3;
    margin-left: 5%;
    height: 70%;


}

.order-summary aside {
    background-color: #F9F9F9;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px 20px 40px 20px;
    margin-top: 20px;
    height: 100%;
}

.checkout .containerr {
    display: flex;


}

.containerr>:first-child {
    margin-right: 20px;
}

.containerr input {
    width: 100%;
}

.checkout .btn-container {
    display: flex;
    justify-content: flex-end;

}

.btn-container button {
    height: 50px;
    border-radius: 5px;
    width: 33%;
    margin-top: 20px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    margin-top: 20px;
    padding-right: 15px;
}

.bottom-container>div {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}

.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding-top: 20px;
}

.payment-container>div {
    display: flex;
    justify-content: space-between;
}

.payment-container>div input {
    /* flex-grow: 0.9; */
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid lightgray;
}

.payment-container select {
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.payment-container button {
    background-color: #3B82F6;
    color: white;
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    border: none;
}

.payment-container>div input:focus,
.payment-container select:focus {
    outline: 3px solid #C0DCF7;
}

.payment-container button:hover {
    cursor: pointer;
}