.collections-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4%;
    row-gap: 8%;
    margin-left: 16%;
    margin-right: 16%;
    padding-top: 4%;
    padding-bottom: 8%;
}