.contact-container {
    display: flex;
    margin: 4% 8% 6% 8%;
    box-shadow: 5px 5px 20px #e1e2e6;
    height: 500px;

}

.contact-info {
    background-color: var(--buttonHoverColor);
    padding: 4% 2% 4% 2%;
    width: 80%;
}

.contact-info div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact-info div svg {
    margin-right: 15px;
}

.contact-info h1 {
    line-height: 32px;
    margin-bottom: 20%;
}

.contact-form {
    padding: 4% 2% 4% 2%;
    background-color: white;
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.contact-info p {
    color: #76787F;
    font-size: 18px;
}

.contact-info span {
    font-weight: 700;
}

.contact-form form input,
textarea {
    border: none;
    border-bottom: 2px solid lightgray;
    padding: 10px 10px 10px 0;
    font-size: 15px;
    min-height: 50px;
    resize: vertical;
    outline: none;
}

.contact-form form input:focus,
textarea:focus {
    border-color: var(--primaryColor);
}



.contact-form button {
    min-height: 50px;
    color: white;
    background-color: var(--primaryColor);
    border: none;
    font-size: 17px;
    width: 60%;
    border-radius: 10px;
}

.contact-form button:hover {
    background-color: var(--buttonHoverColor);
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    transition-duration: 0.3s;
    cursor: pointer;
}