.main-contact {
    background-color: #F7F8FD;
}

.contact-container {
    padding: 4% 8% 10% 8%;
    display: flex;
    /* box-shadow: 5px 5px 20px #DADBE0; */
    height: 500px;
    box-sizing: content-box;

}

/* Contact Info */

.contact-info {
    background-color: var(--buttonHoverColor);
    padding: 4% 2% 4% 2%;
    width: 80%;
}

.contact-info h1 {
    line-height: 32px;
    margin-bottom: 20%;
}

.contact-info div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact-info div svg {
    margin-right: 15px;
}

.contact-info p {
    color: gray;
    font-size: 18px;
}

.contact-info span {
    font-weight: 700;
}

/* Contact Form */

.contact-form {
    padding: 4% 2% 4% 2%;
    background-color: white;
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contact-form button {
    min-height: 50px;
    width: 60%;
}