/* Intro Section */
.intro-container {
    display: flex;
    margin: 0 8% 0 8%;
    padding: 10% 0 8% 0;
}

.intro-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.intro-content-container h1 {
    font-size: 60px;
}

.intro-content-container p {
    color: #76787F;
}

.intro-container button {
    width: 54%;
    height: 60px;
    font-size: 17px;
}

.hero-sneaker-container {
    width: 50%;
    margin-left: 15px;
}

.hero-sneaker-container img {
    max-width: 100%;
}

/* Benefits Section */

.benefits-container {
    padding: 0 8% 0 8%;
}

.benefits-heading {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.benefits-heading h2 {
    font-size: 44px;
}

.benefits-content {
    display: flex;
    height: 300px;
    margin: 50px 0 0 10px;
    padding-bottom: 8%;
}

/* Products Section */

.products-section {

    padding: 4% 8% 7% 8%;
    background-color: var(--backgroundColor);
}

.products-section h1 {
    font-size: 44px;
}

.products-content {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.products-content+div {
    /* Button container */
    display: flex;
    justify-content: center;
}

.products-section button {

    background-color: var(--buttonHoverColor);
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    color: var(--primaryColor);
    font-size: 17px;
    font-weight: bold;
    width: 17%;
    height: 60px;
    margin-top: 5%;

}

.products-section button:hover {
    background-color: var(--primaryColor);
    border: none;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}