/* Intro Section */
.intro-container {
    display: flex;
    padding: 10% 8% 10% 8%;
}

.intro-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.intro-content-container h1 {
    font-size: 60px;
}

.intro-content-container p {
    color: #76787F;
}

.intro-container button {
    width: 54%;
    height: 60px;
}

.hero-sneaker-container {
    width: 50%;
    margin-left: 15px;
}

.hero-sneaker-container img {
    max-width: 100%;
}

/* Benefits Section */

.benefits-container {
    padding: 0 8% 0 8%;
}

.benefits-heading {
    width: fit-content;
}

.benefits-heading h2 {
    font-size: 44px;
    margin-top: 15px;
}

.benefits-content {
    display: flex;
    height: 300px;
    margin: 50px 0 0 10px;
    padding-bottom: 8%;
}

/* Products Section */

.products-section {

    padding: 4% 8% 7% 8%;
    background-color: var(--backgroundColor);
}

.products-section h1 {
    font-size: 44px;
}

.products-content {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

/* Bottom Container */

.btn-bottom-container {
    display: flex;
    justify-content: center;
}

.btn-bottom-container a {
    width: 25%;
    margin-top: 5%;

}

.btn-bottom-container button {
    background-color: var(--buttonHoverColor);
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 17px;
    width: 100%;
    height: 60px;
}

.btn-bottom-container button:hover {
    background-color: var(--primaryColor);
    border: none;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}