.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/auth-bg.jpg');
    background-size: cover;
    height: 100vh;
}

.login-container {
    background-color: white;
    height: 67%;
    width: 40%;
    padding: 4% 3% 4% 3%;

}

.login-container form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.login-container input+input {
    margin-top: 3%;
}

.login-container button {
    width: 40%;
    margin-top: 10%;
    min-height: 50px;
}

.login-container>div {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.login-container a {
    text-decoration: none;
    color: black;
}

.login-container a:hover {
    border-bottom: 2px solid var(--primaryColor);
}