.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/auth-bg.jpg');
    background-size: cover;
    height: 100vh;
}

.login-container {
    background-color: white;
    height: 67%;
    width: 40%;
    padding: 4% 3% 4% 3%;
}

.login-container form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.login-container #password {
    margin-top: 3%;
    font-size: 2rem;
}

.login-container #password::placeholder {
    font-size: 15px;
}

.login-container button {
    width: 40%;
    margin-top: 10%;
    height: 50px;
}

.login-container>div {
    margin-top: 10%;
}

.login-container a {
    text-decoration: none;
    color: black;
}

.login-container a:hover {
    border-bottom: 2px solid var(--primaryColor);

}