.order-successful {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-successful>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0 8% 0;
    margin-top: 30px;
    justify-content: space-between;
    height: 400px;
}

.order-successful .icon-container {
    display: flex;
    flex-direction: column;
    background-color: var(--buttonHoverColor);
    padding: 10px;
    border-radius: 40px;

}

.order-successful svg {
    width: 30px;
    height: 30px;

}

.order-successful p {
    color: gray;
}