.register {
    display: flex;
    justify-content: center;
    background-image: url('../assets/auth-bg.jpg');
    background-size: cover;
    height: calc(100vh + 40px);
    padding: 2% 0 2% 0;
}

.register-container {
    background-color: white;
    height: 90%;
    width: 40%;
    padding: 4% 3% 4% 3%;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.register-form div {
    display: flex;
    justify-content: space-between;
}

.register-form div input {
    flex-grow: 0.3;
}

.register-form input {
    margin-top: 3%;
}

.register-form p {
    margin-top: 10%;
    font-size: 14px;
    color: grey;
    line-height: 20px;
}

.register-form span {
    font-weight: 700;
}

.register-form button {
    width: 40%;
    margin-top: 7%;
    min-height: 50px;
}

.register-form+p {
    color: gray;
    margin-top: 12%;
}

.register-container a {
    text-decoration: none;
    color: black;
}

.register-container a:hover {
    border-bottom: 2px solid var(--primaryColor);
}