header {
    display: flex;
    padding: 2% 8% 2% 8%;
    justify-content: space-between;
}

#logo {
    margin-right: 40px;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;



}

#logo:hover {
    cursor: pointer;
}

nav {
    width: 50%;
}

header div,
nav {
    display: flex;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    color: #76787F;
}

header li:hover {
    color: black;
    cursor: pointer;
}

header div {
    justify-content: space-between;
    width: 10%;
}

header button {
    background-color: #FF7D1A;
    border: none;
    border-radius: 10px;
    height: 37px;
    width: 70px;
    color: white;
    font-size: 17px;
}

header button:hover {
    background-color: #FFEDE1;
    color: #FF7D1A;
    border: 2px solid #FF7D1A;
    cursor: pointer;

}

#cart {
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
    fill: black;
}

#cart:hover {
    cursor: pointer;
}


hr {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}