.BenefitCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefit-image-container {
    background-color: var(--buttonHoverColor);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.BenefitCard p {
    color: var(--lightGreyColor);
    line-height: 24px;
}