.brand-card {
    background-color: var(--buttonHoverColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20% 10% 20% 10%;
}



.brand-card:hover {}