.filter-bar {
    display: flex;
    justify-content: space-between;
    padding: 5% 8% 5% 8%;
}

.filter-bar section {
    display: flex;
}

.filter-products-container {
    width: 30%;
    justify-content: space-between;
}

.sort-products-container {
    width: 25%;
    justify-content: space-between;
}

.filter-bar select {
    height: 40px;
    font-size: 15px;
    padding: 0 5px 0 5px;
    outline: none;
    -webkit-appearance: none;

}