header {
    display: flex;
    padding: 2% 8% 2% 8%;
    justify-content: space-between;
}

header nav {
    width: 50%;
    align-items: center;
    display: flex;
}

header div {
    /* Button and Cart container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;

}

header a {
    text-decoration: none;
    color: grey;
}


#logo {
    margin-right: 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
    font-size: 16px;
}

header button {
    width: 72px;
}

.header-hr {
    margin: 0 8% 0 8%;
}


/* Hovers */

header a:hover {
    color: black;
}

header li:hover,
#cart:hover,
#logo:hover {
    cursor: pointer;
}