.cart-item {
    display: flex;
    padding: 10px 20px 10px 0px;
}

/* item image */
.cart-item-image {
    /* image container */
    width: 50px;
    height: 50px;

}

.cart-item-image>img {
    /* product image */
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

/* item content */

.cart-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.cart-item-content div {
    display: flex;
    justify-content: space-between;
}


.cart-item-content p {
    font-weight: bold;
    color: #76787f;
    margin-left: 15px;
}

.cart-item svg {
    color: #b5b6ba;
}

.total-text {
    color: #b5b6ba;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
}

.cart-item .total {
    color: black;
    font-weight: bold;
}