.cart-item {
    display: flex;
    padding: 10px 20px 10px 0px;
}

.cart-item svg {
    color: #b5b6ba;
}

.cart-item-image {
    width: 50px;
    height: 50px;

}

.cart-item-image>img {
    max-width: 100%;
    border-radius: 5px;
    height: 100%;
}

.cart-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.cart-item-content p {
    font-weight: 700;
    color: #76787f;
    margin-left: 15px;
}

.cart-item-content span {
    color: #b5b6ba;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 5px;
}

.cart-item-content span+p {
    color: black;
}


.cart-item-content div {
    display: flex;
    justify-content: space-between;
}