.page-not-found {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 0 11% 0;
}

.page-not-found button {
    width: 200px;
    height: 50px;
    margin-top: 15px;
}