.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    height: 27rem;
}

.product-card img {
    border-radius: 10px;
    height: 75%;
}

.product-card h2 {
    /* model name */
    font-size: 18px;
}

.product-card h6 {
    /* brand name */
    color: var(--primaryColor);
    font-size: 13px;
}

.prices-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

.product-card:hover {
    cursor: pointer;
}