.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 431px;
}

.product-card img {
    border-radius: 10px;
    height: 75%;
}

.product-card h2 {
    font-size: 18px;
}

.product-card h6 {
    color: var(--primaryColor);
    font-size: 13px;
}

.prices-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
}

.discount-percentage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--buttonHoverColor);
}

.product-card:hover {
    cursor: pointer;
}