* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --backgroundColor: #F7F8FD;
    --primaryColor: #FF7D1A;
    --buttonHoverColor: #FFEDE0;
    --lightGreyColor: #B5B6BA;
    --footerColor: #1D2025;
}

body {
    background-color: white;
}

.default-button {
    background-color: var(--primaryColor);
    border: none;
    border-radius: 10px;
    height: 37px;
    color: white;
    font-size: 17px;
    /* right bottom feather color */
    box-shadow: inset 0 0 0 var(--primaryColor);

    transition: box-shadow 0.3s ease-in-out;
}

.default-button:hover {
    background-color: var(--buttonHoverColor);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    cursor: pointer;
    box-shadow: inset 0 -4em 0 var(--buttonHoverColor);
    transition: box-shadow 0.3s ease-in-out;
}

.default-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 8% 0 8%;
    column-gap: 2%;
    row-gap: 60px;
    padding-bottom: 10%;

}

.default-input {
    border: none;
    border-bottom: 2px solid lightgray;
    padding: 10px 10px 10px 0;
    font-size: 15px;
    min-height: 50px;
    resize: vertical;
    outline: none;
}

.default-input:focus {
    border-color: var(--primaryColor);
}

.discount-percentage-container {
    display: flex;
    align-items: center;
    color: var(--primaryColor);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--buttonHoverColor);
}

.no-products-found {
    grid-column: 1/5;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    font-style: italic;
}