* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --backgroundColor: white;
    --primaryColor: #FF7D1A;
    --buttonHoverColor: #FFEDE1;
    --footerColor: #1D2025;
}

body {
    background-color: var(--backgroundColor);
}